<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo app</h1>
    <form action="/edit?_method=PUT" method="POST">
        <h3>할 일</h3>
        <input value="<%= post._id %>" type="text" name="id" style="display : none"></input>
        <input value="<%= post.제목 %>" type="text" name="title" ></input>
        <h3>due date</h3>
        <input value="<%= post.날짜 %>"type="text" name="date"></input>
        <button type="submit">submit</button> 
    </form>
</body>
</html>